.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

$blue: #1e90ff;

.hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

body {
  margin: 0;
  font-family: 'roboto', sans-serif;
  background-color: #222;
  color: #f0f0f0;
  @extend .flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  transition-duration: 0.2s;
}

.container {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
  flex-direction: column;
  @extend .flex;

  h1 {
    margin-bottom: 1rem;
    @extend .flex;

    img {
      margin-right: 8px;
      height: 36px;
      width: 36px;
    }
  }

  input[type='file'] {
    margin-bottom: 2rem;
    cursor: pointer;
    color: #f0f0f0;
  }

  .blue-button {
    margin-bottom: 10px;
    text-decoration: none;
    color: $blue;
    border: 1px solid $blue;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    background: none;
    cursor: pointer;
    width: 160px;
    text-align: center;
    font-size: 0.9em;
    @extend .flex;

    svg {
      height: 16px;
      width: 16px;
      margin-left: 4px;
    }

    &:hover {
      background-color: $blue;
      color: #f0f0f0;
    }
  }

  #outputImages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;

    div {
      width: 200px;
      height: 200px;
      margin: 20px 8px 40px 8px;
      @extend .flex;
      flex-direction: column;

      img {
        height: 100%;
        width: 100%;
        object-fit: scale-down;
      }
    }
  }

  #downloadAll {
    width: 194px;
  }

  #code-snippet {
    p {
      text-align: center;
    }

    margin-bottom: 20px;

    .code-snippet-container {
      margin-bottom: 10px;
      position: relative;
      background-color: #282c34;
      color: #abb2bf;
      border-radius: 4px;
      padding: 1rem;
      font-family: 'Courier New', monospace;
      overflow: auto;

      pre {
        margin: 0;
        padding: 20px 64px 2px 0px;
      }

      .copy-btn {
        display: flex;
        position: absolute;
        top: 5px;
        right: 5px;
        background: none;
        outline: 1px solid $blue;
        color: $blue;
        font-size: 12px;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition-duration: 0.2s;

        svg {
          height: 16px;
          width: 16px;
          margin-left: 4px;
        }
      }

      .copy-btn:hover {
        color: #fff;
        background-color: $blue;
      }
    }
  }
}

footer {
  margin-top: 2rem;
  font-size: 0.8em;
  text-align: center;
  font-size: 14px;

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.2s;

    &:hover {
      text-decoration: underline;
      font-size: 16px;
      transition-duration: 0.2s;
    }
  }
}
