.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

body {
  margin: 0;
  font-family: 'roboto', sans-serif;
  background-color: #222;
  color: #f0f0f0;
  @extend .flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 2rem;
  flex-direction: column;
  @extend .flex;

  h1 {
    margin-bottom: 1rem;
    @extend .flex;

    img {
      margin-right: 8px;
      height: 36px;
      width: 36px;
    }
  }

  input[type='file'] {
    margin-bottom: 2rem;
    cursor: pointer;
    color: #f0f0f0;
  }

  .blue-button {
    margin-bottom: 10px;
    text-decoration: none;
    color: #1e90ff;
    border: 1px solid #1e90ff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    background: none;
    cursor: pointer;
    width: 160px;
    text-align: center;
    font-size: 0.9em;
    @extend .flex;

    svg {
      height: 16px;
      width: 16px;
      margin-left: 4px;
    }

    &:hover {
      background-color: #1e90ff;
      color: #f0f0f0;
    }
  }

  #outputImages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      margin-bottom: 1rem;
    }
  }

  #downloadAll {
    width: 194px;
  }
}

footer {
  margin-top: 2rem;
  font-size: 0.8em;
  text-align: center;
  font-size: 14px;

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    transition-duration: 0.2s;

    &:hover {
      text-decoration: underline;
      font-size: 16px;
      transition-duration: 0.2s;
    }
  }
}
